Importing the pandas library for creating the dataframe

In [116]:
import pandas as pd

reading the wikipedia table into a dataframe

In [117]:
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A      Queen's Park      Not assigned
8      M8A      Not assigned      Not assigned
9      M9A      Queen's Park      Queen's Park

creating a new dataframe which excludes the rows where borough == "not assigned"

In [118]:
# i assumed that i could make a new dataframe with specifying that "not assigned" would not appear in column borough. 
dfwna= df[df.Borough != 'Not assigned']

In [119]:
dfwna.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Not assigned
9       M9A      Queen's Park      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

Modifying the dataframe so values would be combined

In [145]:
dfwna =dfwna.groupby(['Postcode','Borough'])
dfwna=dfwna['Neighbourhood'].apply(', '.join).reset_index() 
dfwna.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

Iterating through the dataframe and assigning the borough value to the neighbourhood value

In [141]:
for i in range(len(dfwna)):
    if dfwna['Neighbourhood'].iloc[i] =='Not assigned':
        dfwna['Neighbourhood'].iloc[i]= dfwna['Borough'].iloc[i]
        
dfwna

,Postcode,Borough,Neighbourhood
0,M1B,Scarborough,"Rouge, Malvern"
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9P,Etobicoke,Westmount
99,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv..."
100,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ..."
101,M9W,Etobicoke,Northwest
102,Queen's Park,Queen's Park,Queen's Park

printing the shape

In [143]:
dfwna.shape

(103, 3)